# Arquivos de ambiente
.env
.env.local
.env.*.local

# Dependências
**/node_modules/

# Next.js build
**/.next/
**/out/


# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Cache
.cache/
*.tsbuildinfo